@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header>
        <h2 class="section-title">Who We Are</h2>
        <p class="section-description">
            Here are some of my notable projects, each with a brief overview, a demo video,
            and the key skills I gained while developing them.
        </p>
    </header>

    
</div>
